.chat-list-item {
	display: flex;
	width: 100%;
	height: 50px;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	transition: all 0.2s ease-in-out;
	transform-origin: left;
}

.chat-list-item:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.chat-profile-picture {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.chat-item-img {
	width: 50px !important;
	height: 50px !important;
}

.chat-item-name {
	font-weight: bold !important;
	margin-bottom: 0 !important;
}

.chat-item-last {
	margin-top: 0;
	margin-bottom: 0;
	color: #777;
	font-weight: 600;
}